/*Estilo para todo el documento*/
*{
	margin: 0px;
	padding: 0px;
	outline: 0px;
	
}
body{
	background-image: url(../imagenes/img2.jpg);
	font-family:Algerian, Verdana, sans-serif;
	font-size: 20px;
	font-weight: bold;
	
}
#principal{

	width: 144px;
	color: black;
	background-color: #D3B574;/*color de menu_principal_1*/
	border: solid 1px #fff;
	padding: 8px;
	position: absolute;
	margin: 20px;
	font-size: 0.9em;
	text-align: center;
	cursor: pointer;
}
#principal:hover {background-color: #BE9C53;}/*color de menu_principal_2*/

#principal:hover #menu {display: block;}

#menu{
	text-align: center;
	font-size: 0.85em;
	width: 320px;
	display: none;
	position: relative;
	padding-top: 10px;
	left: -9px;
	margin-bottom: -10px;
}
#menu ul {
	list-style-type:none;
	border: 0px, 
}
#menu ul li.nivel1{ width: 162px; }
#menu ul li.primera{ border-top: solid 1px #FFF;}
#menu ul li a{
	display: block;
	text-decoration: none;
	color: #fff;
	background-color: #D3B068;/*color de menu_principal_desplegable 1*/
	border: solid 1px #fff;
	border-top: none;
	padding: 8px;
	position: relative;
}
#menu ul li:hover {
	position: relative;
	background-color: #6CC;
	color: #000;
}
#menu ul li a:hover, #menu ul li:hover a.nivel1{
	background-color: #F3D598;/*color de menu_principal_desplegable 2*/
	color: #000;
	position: relative;
}
#menu ul li a.nivel1{
	display: block!important;
	display: none;
	position: relative;
}
#columna{
	margin-right: 400px;
	float: right;
	width: 33%;
	text-align: justify;
	background: #E8CF99;
}
#subtitulo2{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 25px;
	color: #000;

}
.ibu_boton{
	width: 450px;
	height: 30px;
	margin-left:80px;
}
.boton{
	border-radius: 17px;
	font-weight: bold;
	width: 90px;
	height: 25px;
}